<div class="search-container">
  <form class="search-form" [formGroup]="searchForm" (submit)="search($event)">
    <div class="search-input-container">
      <input
        type="text"
        formControlName="searchQuery"
        [placeholder]="'Search ' + (role === 'adc' ? 'ADC' : 'Support') + ' Champion...'"
        class="search-input"
        [ngClass]="{ 'invalid': hasError('searchQuery', 'required') || hasError('searchQuery', 'minlength') }"
      />

      <div *ngIf="championImage" class="champion-image-container">
        <img [src]="championImage" alt="Champion" class="champion-image" />
      </div>

      <button type="submit" class="search-btn" [disabled]="searchForm.invalid">Search</button>
    </div>

    <div *ngIf="hasError('searchQuery', 'required')" class="error-message">
      Search field is required.
    </div>
    <div *ngIf="hasError('searchQuery', 'minlength')" class="error-message">
      Please enter at least 2 characters.
    </div>
  </form>
</div>