<div class="search-container">
  <!-- Formulario de búsqueda -->
  <form class="search-form" [formGroup]="searchForm" (submit)="search($event)">
    <!-- Campo de búsqueda -->
    <div class="search-input-container">
      <input
        type="text"
        formControlName="searchQuery"
        [placeholder]="'Search ' + (role === 'adc' ? 'ADC' : 'Support') + ' Champion...'"
        class="search-input"
        [ngClass]="{ 'invalid': hasError('searchQuery', 'required') || hasError('searchQuery', 'minlength') }"
      />

      <!-- Imagen del campeón -->
      <div *ngIf="championImage" class="champion-image-container">
        <img [src]="championImage" alt="Campeón" class="champion-image" />
      </div>

      <!-- Botón de búsqueda -->
      <button type="submit" class="search-btn" [disabled]="searchForm.invalid">Buscar</button>
    </div>

    <!-- Mensajes de validación -->
    <div *ngIf="hasError('searchQuery', 'required')" class="error-message">
      El campo de búsqueda es requerido.
    </div>
    <div *ngIf="hasError('searchQuery', 'minlength')" class="error-message">
      Debes ingresar al menos 2 caracteres.
    </div>
  </form>
</div>
