<div class="bottom-form">
  <!-- Selector de Rol -->
  <div class="role-selector">
    <button 
      (click)="setRole('adc')" 
      [class.active]="role === 'adc'" 
      class="role-btn">
      ADC
    </button>
    <button 
      (click)="setRole('supp')" 
      [class.active]="role === 'supp'" 
      class="role-btn">
      Support
    </button>
  </div>

  <!-- Botón Limpiar (Separado del formulario) -->
  <button type="button" class="clear-btn" (click)="clearSearchAndResults()">Limpiar</button>

  <!-- Componente Hijo: Search -->
  <app-search 
    [role]="role" 
    (searchResults)="onSearchResults($event.results, $event.championImage)">
  </app-search>

  <!-- Componente Hijo: Results -->
  <app-results 
    [results]="results">
  </app-results>
</div>
