<div class="champions-container">
  <h1 class="champions-title">Champion Synergies</h1>
  <div class="bottom-form">
    <div class="role-selector">
      <button 
        (click)="setRole('adc')" 
        [class.active]="role === 'adc'" 
        class="role-btn">
        ADC
      </button>
      <button 
        (click)="setRole('supp')" 
        [class.active]="role === 'supp'" 
        class="role-btn">
        Support
      </button>
    </div>

    <button type="button" class="clear-btn" (click)="clearSearchAndResults()">Clear</button>

    <app-search 
      [role]="role" 
      (searchResults)="onSearchResults($event.results, $event.championImage)">
    </app-search>

    <app-results 
      [results]="results">
    </app-results>
  </div>
</div>