<aside class="player-aside">
<div class="player-form-container">
    <h3>Load Player Data</h3>
    <form class="player-form" [formGroup]="playerForm" (ngSubmit)="onSubmit()">
      <!-- Campo para el nombre del invocador -->
      <div class="form-group">
        <label for="summonerName">Summoner Name:</label>
        <input
          type="text"
          id="summonerName"
          formControlName="summonerName"
          placeholder="Enter summoner name"
        />
        <div *ngIf="playerForm.get('summonerName')?.invalid && playerForm.get('summonerName')?.touched" class="error-message">
          Summoner Name is required.
        </div>
      </div>
  
      <!-- Campo para el tag -->
      <div class="form-group">
        <label for="tag">Tag:</label>
        <input
          type="text"
          id="tag"
          formControlName="tag"
          placeholder="Enter tag (e.g., NA1)"
        />
        <div *ngIf="playerForm.get('tag')?.invalid && playerForm.get('tag')?.touched" class="error-message">
          Tag is required.
        </div>
      </div>
  
      <!-- Botón de envío -->
      <button type="submit" [disabled]="playerForm.invalid">Load Data</button>
    </form>
    
     <!-- Loader -->
    <div *ngIf="isLoading" class="loader">Loading...</div>

    <!-- Mensaje de éxito -->
    <div *ngIf="successMessage" class="success-message">
      {{ successMessage }}
    </div>
  
    <!-- Mensaje de error -->
    <div *ngIf="errorMessage" class="error-message">
      {{ errorMessage }}
    </div>
  </div>
</aside>