
.player-aside {
    width: 400px; /* Ancho fijo para la barra lateral */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    padding: 2rem 1rem;
  }
  
  /* Contenedor del formulario */
  .player-form-container {
    background-color: #1e2328; /* Fondo ligeramente más claro */
    padding: 1rem;
    border-radius: 10px; /* Bordes más redondeados */
    display: flex;
    flex-direction: column;
    gap: 1.5rem; /* Espaciado entre los elementos del formulario */
    width: 90%; /* Asegura que el contenedor del formulario use todo el ancho disponible */
    max-width: 350px; /* Limita el ancho máximo para que no se estire demasiado */
  }
  
  
  /* Título del formulario */
  .player-form-container h3 {
    text-align: center;
    color: #c8aa6e;
    font-size: 1.4rem; /* Aumento del tamaño para destacar */
    font-weight: bold; /* Resaltar el título */
    text-transform: uppercase; /* Todo en mayúsculas */
  }
  
  /* Grupos de campos */
  .form-group {
    margin-bottom: 1.5rem;
  }
  
  /* Estilo para las etiquetas */
  .form-group label {
    display: block;
    margin-bottom: 0.5rem;
    color: #f0e6d2;
    font-size: 1rem; /* Texto ligeramente más grande */
    font-weight: 500; /* Peso de fuente medio para etiquetas */
  }
  
  /* Estilo de los campos de entrada */
  .form-group input {
    width: 85%;
    padding: 0.8rem;
    border: 1px solid #c8aa6e;
    border-radius: 4px;
    background-color: #1e2328;
    color: #f0e6d2;
    font-size: 1rem; /* Tamaño de fuente ligeramente mayor */
  }
  
  /* Estilo para el botón */
  button {
    width: 93%;
    padding: 0.9rem;
    background-color: #c8aa6e;
    color: #0a1428;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
    font-size: 1rem; /* Tamaño adecuado */
    text-transform: uppercase; /* Letras en mayúsculas */
    margin: auto;
  }
  
  button:hover {
    background-color: #f0e6d2;
    color: #070c1f; /* Cambio de color de texto en hover */
  }
  
/* Loader */
.loader {
  margin-top: 1rem;
  padding: 0.75rem;
  background-color: #1e2328;
  color: #c8aa6e;
  text-align: center;
  border-radius: 4px;
  font-weight: bold;
  animation: pulse 1.5s infinite ease-in-out;
}

/* Animación del loader */
@keyframes pulse {
  0% {
    opacity: 0.6;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.6;
  }
}

/* Botón deshabilitado */
button:disabled {
  background-color: #555;
  cursor: not-allowed;
}

/* Mensajes de éxito y error */
.success-message,
.error-message {
  margin-top: 1rem;
  padding: 0.75rem;
  border-radius: 4px;
  text-align: center;
  font-size: 0.9rem;
}

.success-message {
  background-color: #28a745; /* Verde para éxito */
  color: #fff;
}

.error-message {
  background-color: #dc3545; /* Rojo para error */
  color: #fff;
}